<div class="navbar navbar-inverse navbar-fixed-top menuBasedOnName">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Restau</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" data-reference="menu">
                <li><a class="toSection" data-id="manageSections">Menu</a></li>
                <li data-reference="currentOrders/"><a id="currentOrders">Current orders</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="content" class="container"></div>