<div class="list-group">

    <div class="menuBasedOnName">
        <ul class="nav nav-tabs">
            <li data-reference="currentOrders"><a id="currentOrders" class="navigation">Current Orders</a></li>
            <li data-reference="toPayOrders"><a id="toPayOrders" class="navigation">Orders waiting for payment</a></li>
            <li data-reference="paidOrders"><a id="paidOrders" class="navigation">Orders paid</a></li>
        </ul>
    </div>


    <%orders.forEach(function(order,i){%>
    <a href="#" class="list-group-item <%= i===1?'active':''%>">
        <h4 class="list-group-item-heading">Order One</h4>
        <span>Status :  <%= order.get('status') %></span>

        <p class="list-group-item-text"></p>
    </a>
    <%})%>


    <table class="table">
        <thead>

        <tr>
            <th>Table</th>
            <th> Device</th>
            <th> Orders</th>
            <th> Generate bill</th>
            <th> Generate bill for table</th>
            <th> Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="3"> table 1</td>
            <td> Device name</td>
            <td><a data-id="0bf69e3e-0ca8-4210-a2d2-21775f4a1c67" class="editOrder">order1 </a></td>
            <td>
                <button class='btn-success'>generate bill</button>
            </td>
            <td rowspan="3">
                <button class='btn-success'>generate bill</button>
            </td>
            <td rowspan='3' class='alert-danger'>waiting for bill</td>
        </tr>
        <tr>
            <td rowspan="2"> Device name</td>
            <td> order2</td>
            <td rowspan="2"></td>
        </tr>
        <tr>
            <td> order3</td>
        </tr>

        <tr>
            <td> table 1</td>
            <td> Device name</td>
            <td> order1</td>
            <td></td>
            <td></td>
            <td class='alert-info'> ordered</td>
        </tr>


        </tbody>
    </table>

</div>
