<div class="menuBasedOnId">
    <ul class="nav nav-tabs">
        <% sections.forEach(function(section){ %>
        <li data-reference="<%= section.get('id') %>"><a class="toSection" data-id="<%= section.get('id') %>"><%=
            section.get('name') %></a></li>
        <% }); %>
        <li data-reference="new"><a class="newSection">New Section</a></li>

    </ul>
</div>


<div>
    <table class="table">
        <thead>

        <tr>
            <th>Name</th>
            <th> Price</th>
            <th> Enable</th>
            <th> Edit</th>
            <th> Delete</th>
        </tr>
        </thead>
        <tbody>
        <% items.forEach(function(item){ %>
        <tr data-id="<%= item.get('id') %>">
            <td><%= item.get('name')%>
            </td>
            <td>
                <input type='number' name='price' placeholder='0' required value="<%= item.get('price')%>">
            </td>
            <td><select name="enable">
                <option value="yes">yes</option>
                <option value="no"
                <% if(item.get('enable')===0){ "selected" } %> >no</option>
            </select></td>
            <td><input type="button" value="edit" class="edit"></td>
            <td><input type="button" value="delete" class="deleteItem">
            <td>
        </tr>
        <% }); %>
        </tbody>
    </table>


    <form id="newItem" role="form">
        <div class="form-horizontal">
            <label for="name">Name: </label> <input
                class="form-control" type='text' name='name' placeholder="Name" maxlength="25" minlength="4"
                required value="<%= item.get('name') %>"> <br>
        </div>
        <div class="form-group">
            <label for="description">Description: </label> <input type='text' name='description'
                                                                  placeholder="Description"
                                                                  value="<%= item.get('description') %>"> <br>
        </div>
        <div class="form-group">
            <label for="calories">Calories: </label> <input type='text' name='calories' placeholder="Calories"
                                                            value="<%= item.get('calories') %>"> <br>
        </div>
        <div class="form-group">
            <label for="price">Price: </label> <input type='number' name='price' placeholder='0' required
                                                      value="<%= item.get('price') %>"> <br>

        </div>
        <div class="form-group">
            <label for="spicy">Spicy: </label> <select name="spicy">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
            <br>

            <label for="vegetarian">Vegetarian: </label> <select name="vegetarian">
            <option value="yes">yes</option>
            <option value="no" selected="selected">no</option>
        </select>
        </div>
        <input type="submit" value="submit">
    </form>
</div>