<div class="menuBasedOnId">
    <ul class="nav nav-tabs">
        <% sections.forEach(function(section){ %>
        <li data-reference="<%= section.get('id') %>"><a class="toSection" data-id="<%= section.get('id') %>"><%=
            section.get('name') %></a></li>
        <% }); %>
        <li data-reference="new"><a class="newSection">New Section</a></li>

    </ul>
</div>


<div>
    <table class="table">
        <thead>

        <tr>
            <th>Name</th>
            <th> Price</th>
            <th> Enable</th>
            <th> Edit</th>
            <th> Delete</th>
        </tr>
        </thead>
        <tbody>
        <% items.forEach(function(item){ %>
        <tr data-id="<%= item.get('id') %>">
            <td><%= item.get('name')%>
            </td>
            <td>
                <%= item.get('price')%>
            </td>
            <td>
                <%= item.get('enable')===0 ? "no":"yes" %>
            </td>

            <td><input type="button" value="edit" class="edit"></td>
            <td><input type="button" value="delete" class="deleteItem">
            <td>
        </tr>
        <% }); %>
        </tbody>
    </table>


    <form id="newItem" role="form" class="form-horizontal">
        <input type="hidden" name="id" value="<%= item.get('id') %>">

        <div class="form-group">
            <label class="col-lg-2 control-label" for="name">Name: </label>

            <div class="col-lg-2">
                <input class="form-control" type='text' name='name' placeholder="Name" maxlength="25" minlength="4"
                       required value="<%= item.get('name') %>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="description">Description: </label>

            <div class="col-lg-4">
                <input type='text' name='description' class="form-control"
                       placeholder="Description"
                       value="<%= item.get('description') %>"></div>
        </div>
        <div class="form-group">

            <label class="col-lg-2 control-label" for="calories">Calories: </label>

            <div class="col-lg-2">
                <input type='text' name='calories' placeholder="Calories" class="form-control"
                       value="<%= item.get('calories') %>"></div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="price">Price: </label>

            <div class="col-lg-2">
                <input type='number' name='price' placeholder='0' required class="form-control"
                       value="<%= item.get('price') %>"></div>

        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="spicy">Spicy: </label>

            <div class="col-lg-2">
                <select name="spicy" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

            <label class="col-lg-2 control-label" for="vegetarian">Vegetarian: </label>

            <div class="col-lg-2">
                <select name="vegetarian" class="form-control">
                    <option value="yes">yes</option>
                    <option value="no" selected="selected">no</option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="enable">Enable: </label>

            <div class="col-lg-2">
                <select name="enable" class="form-control">
                    <option value="0">no</option>
                    <option value="1">yes</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>