<div class="menuBasedOnId">
    <ul class="nav nav-tabs">
        <% sections.forEach(function(section){ %>
        <li data-reference="<%= section.get('id') %>"><a class="toSection" data-id="<%= section.get('id') %>"><%=
            section.get('name') %></a></li>
        <% }); %>
        <li data-reference="manageSections"><a class="manageSections">Manage Section</a></li>

    </ul>
</div>


<div>
    <table class="table">
        <thead>

        <tr>
            <th>Name</th>
            <th> Description</th>
            <th> Enable</th>
            <th> Edit</th>
            <th> Delete</th>
        </tr>
        </thead>
        <tbody>
        <% sections.forEach(function(section){ %>
        <tr data-id="<%= section.get('id') %>">
            <td><%= section.get('name')%>
            </td>
            <td>
                <%= section.get('description')%>
            </td>
            <td>
                <%= section.get('enabled') ? "yes":"no" %>
            </td>

            <td><input type="button" value="edit" class="edit btn"></td>
            <td><input type="button" value="delete" class="deleteItem btn-danger">
            <td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <button class="btn btn-success" id="saveRankDisplay">Save rank display</button>
</div>

<div>
    <form id="createNewSectionForm" role="form" class="form-horizontal">
        <input type="hidden" name="id" value="<%= section.get('id') %>">



        <div class="form-group">

            <label class="col-lg-2 control-label" for="name">Name: </label>

            <div class="col-lg-2">
                <input type='text' name='name' placeholder="Section Name" class="form-control"
                       value="<%= section.get('name') %>">
            </div>
        </div>

        <div class="form-group">

            <label class="col-lg-2 control-label" for="description">Description : </label>

            <div class="col-lg-4">
                <input type='text' name='description' class="form-control"
                       placeholder="Description" value="<%= section.get('description') %>">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="enabled">Enable: </label>

            <div class="col-lg-2">
                <select name="enabled" id="enabled" class="form-control">
                    <option value="false">no</option>
                    <option value="true" <%= section.get('enabled')?"selected":'' %>>yes</option>
                </select>
            </div>
        </div>


        <input type="submit" class="btn" value="submit">
    </form>

</div>
