<div id="boxedWrapper">

    <section id="content">

        <div class="container">
            <div class="row-fluid">
                <div class="span12">

                    <section id="menucard">

                        <div class="tab-content">

                            <div>
                                <br>
                                <header class="text-center">
                                    <% if(isAllBillGenerated) { %>
                                    <strong> The bill si coming soon !</strong>
                                    <%}else{%>
                                    <button class='btn btn-large btn-success generateBill'>Generate Bill</button>
                                    <br>
                                    <button class='btn btn-large btn-default goToMenu'>Order more stuff</button>
                                    <%}%>
                                </header>

                            </div>

                        </div>
                    </section>
                    <!-- //span -->
                </div>
                <!-- //row -->
            </div>
            <!-- //container -->
        </div>

    </section>


    <footer id="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span3">
                    <p>
                        &copy; Copyright 2013 by Gandhi && Maurin</span>
                    </p>

                </div>
                <div class="span9">
                    <nav class="short-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Gallerie</a></li>
                            <li><a href="#">Shortcodes</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

</div>

</div>

