<header id="top">

    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h4>Restau !</h4>
                <nav class="pull-right">
                    <ul class="wheel-group">
                        <li><p><button class='btn btn-default goToMenu'>See Menu</button></p></li>
                        <li><p><button class='btn btn-default goToCheckOrder'>Check my order</button></p></li>
                        <li><p><button class='btn btn-info callWaiter'>Call waiter</button></p></li>
                    </ul>
                    <div class="line"></div>
                </nav>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</header>