<div id="boxedWrapper">

<header id="top">

    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h4>Restau !</h4>
                <nav class="short-contact pull-right">
                    <ul class="wheel-group">
                        <li><p>Some info about the restaurant</p></li>
                    </ul>
                    <div class="line"></div>
                </nav>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</header>

<section id="content">

<div class="container">
<div class="row-fluid">
<div class="span12">

<section id="menucard">

<div class="filter">
    <ul id="menucard-tabs">
        <% sections.forEach(function(section,i){%>
        <li><a calss='goToSection' data-name="<%= section.get('name') %>"><%= section.get('name') %></a></li>
        <%});%>

    </ul>
</div>

<div class="tab-content">
<div class="tab-pane active" id="tab-breakfast">

<div class="row-fluid"> <!-- menucards -->
    <div class="span12">
        <article class="menucard">
            <header class="sectionTitle">
                <h3>Appetizers for breakfast</h3>
            </header>
            <section class="dishes">
                <ul>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="http://www.indianfoodforever.com/images/masala.jpg" alt="">
                            </figure>
                            <select>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>

                            </select>
                        </div>
                        <div class="data">
                            <h4>Appetizer No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img44.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Appetizer No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img45.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Appetizer No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                </ul>
            </section>
        </article>
    </div>
    <div class="span6">
        <article class="menucard">
            <header class="sectionTitle">
                <h3>Salad</h3>
            </header>
            <section class="dishes">
                <ul>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img43.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Salad No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img44.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Salad No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img45.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Salad No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                </ul>
            </section>
        </article>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <article class="menucard">
            <header class="sectionTitle">
                <h3>Meat</h3>
            </header>
            <section class="dishes">
                <ul>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img43.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Meat No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img44.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Meat No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img45.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Meat No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                </ul>
            </section>
        </article>
    </div>
    <div class="span6">
        <article class="menucard">
            <header class="sectionTitle">
                <h3>Fish</h3>
            </header>
            <section class="dishes">
                <ul>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img43.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Fish No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img44.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Fish No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                    <li>
                        <div class="image">
                            <figure class="rounded">
                                <img src="images/content-demo/img45.jpg" alt="">
                            </figure>
                        </div>
                        <div class="data">
                            <h4>Fish No. 1</h4>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et male.
                            </p>
                            <span class="price">7.99$</span>
                        </div>
                    </li>
                </ul>
            </section>
        </article>
    </div>
</div>
<!-- //menucards -->
</div>


</div>


<div class="separator"></div>


<!--add later-->

<!--<header class="text-center">-->
<!--<h3>Are you overwhelmed? Here are our reccomendations!</h3>-->
<!--</header>-->

<!--<div class="recommendations"> &lt;!&ndash; recommendations &ndash;&gt;-->
<!--<div class="row-fluid">-->
<!--<div class="span6">-->
<!--<div class="media">-->
<!--<a class="pull-left" href="#">-->
<!--<figure class="rounded"><img class="media-object" src="images/content-demo/img28.jpg" alt="">-->
<!--</figure>-->
<!--</a>-->

<!--<div class="media-body">-->
<!--<h3><a href="#">Appetizer</a></h3>-->

<!--<p><strong>Donec sed odio dui.</strong> Nulla vitae elit libero, a pharetra augue. Nullam id dolor-->
<!--id nibh ultricies vehicula ut id elit. Integer posuere erat.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="span6">-->
<!--<div class="media">-->
<!--<a class="pull-left" href="#">-->
<!--<figure class="rounded"><img class="media-object" src="images/content-demo/img29.jpg" alt="">-->
<!--</figure>-->
<!--</a>-->

<!--<div class="media-body">-->
<!--<h3><a href="#">Main Dish</a></h3>-->

<!--<p><strong>Donec sed odio dui.</strong> Nulla vitae elit libero, a pharetra augue. Nullam id dolor-->
<!--id nibh ultricies vehicula ut id elit. Integer posuere erat.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- //recommendations -->

<!--</section>-->

<div class="separator"></div>


</section>
<!-- //span -->
</div>
<!-- //row -->
</div>
<!-- //container -->
</div>

</section>


<footer id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
                <p>
                    &copy; Copyright 2013 by Gandhi && Maurin</span>
                </p>

            </div>
            <div class="span9">
                <nav class="short-menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Gallerie</a></li>
                        <li><a href="#">Shortcodes</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>

</div>

</div>

