/* 
    Document   : StyleSheetAdmin
    Created on : May 28, 2012, 6:29:27 PM
    Author     : Chloe
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#menu
{

    height: 150px;
    background-image: url('images/texture.jpg');
    background-repeat: repeat;
    box-shadow: 0px 2px 6px  black;
    padding-top:20px;
}

#nav_menu
{
    padding-top:20px;
    width:663px;
}

#bt_menu
{
    width: 130px;
    margin:auto;

}

#bt_menu_superadmin
{
    width: 540px;
    margin:auto;
}

#sous_menu
{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255,255,255,0.3);
}

#sous_menu:hover
{
    background-color: rgba(0, 0, 0, 0.6);

}

#sous_menu  ul
{
    float:left;
    list-style:none;
    display:block;
    padding:0;
}

#sous_menu  ul li {
    float:left;
    vertical-align:middle;
    margin-top:5px;

}

#sous_menu  a {
    width:250px;
    font-size:18px;
    margin-left: 50px;
    color: rgba(255,255,255, 0.6);
}

#sous_menu  a:hover{
    color: rgba(255,255,255, 1);
}

.bt_menu_item
{
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    height: 130px;
    width:130px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px  black;

}

.bt_menu_item:hover
{
    display: inline-block;
    background-color: rgba(255,255,255,0.4);
    height: 130px;
    width:130px;

}

#newServeur fieldset
{
    width: 350px;
    height: auto;
    vertical-align: middle;
    margin: auto;
    border: 1px solid black;
    border-radius:5px;
    /*box-shadow: 0px 2px 6px  black;*/
    padding:10px;
    /*background-color: rgba(255,255,255,0.2);*/
    background-repeat: repeat;
    margin-top:30px;
    padding: 30px 0px 30px 0px;
}

#newServeur legend{
    margin : 5px;
    font-weight: bold;
    color:black;
    font-size:20px;
}

#newServeur .inputText
{
    margin-left:20px;
    width: 150px;
}

#newServeur table
{
    margin:auto;
}

#newServeur label
{
    margin-right: 10px;
}

#listServer fieldset
{
    width: 350px;
    height: auto;
    vertical-align: middle;
    margin: auto;
    border: 1px solid black;
    border-radius:5px;
    /*box-shadow: 0px 2px 6px  black;*/
    padding:10px;
    /*background-color: rgba(255,255,255,0.2);*/
    background-repeat: repeat;
    margin-top:30px;
    padding:30px 0px 30px 0px;

}

#listServer legend{
    margin : 5px;
    font-weight: bold;
    color:black;
    font-size:20px;

}

#listServer table
{
    width: 300px;
    max-width: 300px;
    margin:auto;
}

fieldset th
{
    margin-top:15px;
    height: 35px;
    font-weight: bold;
    text-align: center;
    min-width: 60px;
}

.delete{
    vertical-align: middle;
    text-align: center;
}

#logoAdmin
{
    position:absolute;
    margin-top:20px;
    margin-left:15px;
    font-size:28px;
    
}


#formulaire_menu
{
    width: 770px;
    margin:auto;
    
}

td
{
    vertical-align: top;
}

.bt_ajout_sup
{
    width: 78px;
    margin:auto;
    margin-top:10px;
}

#formulaire_menu fieldset
{
    padding:15px;
    width: 220px;
    height: auto;
    vertical-align: middle;
    margin: 10px;
    border: 1px solid black;
    border-radius:5px;
    padding:10px;
}

#formulaire_menu legend{
    margin : 5px;
    font-weight: bold;
    color:black;
    font-size:20px;
}


input[type=number] {
    width: 40px;
    height: 25px;
    text-align: center;
    font-size:20px;
    background-color: rgba(255,255,255,0.5);
    border:none;
    border-radius: 2px;
}

#nomMenu
{
    margin:auto;
    margin-bottom:30px;
    margin-top:30px;
    width: 330px;

}
#labelnomMenu
{
    margin-right:25px;
    font-size:20px;
}

#newDrink fieldset
{
    width: 350px;
    height: auto;
    vertical-align: middle;
    margin: auto;
    border: 1px solid black;
    border-radius:5px;
    /*box-shadow: 0px 2px 6px  black;*/
    padding:10px;
    /*background-color: rgba(255,255,255,0.2);*/
    background-repeat: repeat;
}

#newDrink legend{
    margin : 5px;
    font-weight: bold;
    color:black;
    font-size:20px;
}

#newDrink table
{
    width: 300px;
    margin:auto;
}

#listDrink fieldset
{
    width: 350px;
    height: auto;
    vertical-align: middle;
    margin: auto;
    border: 1px solid black;
    border-radius:5px;
    /*box-shadow: 0px 2px 6px  black;*/
    padding:10px;
    /*background-color: rgba(255,255,255,0.2);*/
    background-repeat: repeat;
}

#listDrink legend{
    margin : 5px;
    font-weight: bold;
    color:black;
    font-size:20px;
}

#listDrink table
{
    width: 300px;
    margin:auto;
}

/*--------------------------------------------- Super Admin -----------------------------------------*/

#listDrink td
{
    vertical-align: middle;
}

#listDrink tbody tr:hover
{
    color:black;
}

#listDrink thead tr:hover
{
    color:white;
    
}

#viewMenus 
{
    width: 700px;
    margin:auto;
    margin-top:30px;
}

#viewMenus td
{
    vertical-align: middle;
    min-width:50px;
}

#viewMenus thead tr
{
    font-size:22px;
    height: 50px;

}
#default td
{
    background-color: rgba(255,255,255,0.6);
}

#default td:first-child
{
    
    text-align: center;
    color:black;
    border-radius: 5px 0 0px 5px;
}
#default td:last-child
{
    border-radius:0 5px 5px 0;
    text-align: center;
    color:black;
}

#viewMenus tr td:last-child
{
    text-align: center;
}

#viewMenus tr td:nth-child(2)
{
    width: 35px;
}

#viewMenusDiv
{
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px  black;
    border:black solid 1px;
    width: 800px;
    height: auto;
    margin:auto;
}

.h1Admin
{
    margin-top:20px;
    font-size:30px;
    text-align: center;
    margin-bottom:20px;
    color:black;
}

.btMenu:hover {
    background-image: url('images/btnClientHover.png');   
}

/*--------------------------------------------- Super Admin Stat-----------------------------------------*/


#formStat
{
    width: 1000px;
    height: 200px;
    padding-top:30px;
    margin-bottom:30px;
    margin:auto;
}

select[multiple="multiple"]
{
    height: 150px;
    width: auto;
}

select
{
    background-color: rgba(255,255,255,0.6);
}