/* 
    Document   : StyleSheetCuiso
    Created on : 1 juin 2012, 15:40:57
    Author     : MIY1
    Description:
        Purpose of the stylesheet follows.
*/

.globalMenu{
    margin: auto;
    width: 100%;
}

.divcuistotable
{
   box-shadow: 0px 2px 6px  black;
   border-radius: 5px 5px 5px 5px;
   padding:20px;
   width: 100%;
   min-height: 400px;
}

.cuisto{
   display:inline-block;
   margin: 3%;
   width: 22%;
}
.entreeImg { 
    background: url(images/entrees.png) no-repeat 20px; 
    height: 138px;
    border-bottom: 1px solid;
}
.platImg { 
    background: url(images/plats.png) no-repeat 20px; 
    height: 138px;
    border-bottom: 1px solid;
}
.dessertImg { 
    background: url(images/desserts.png) no-repeat 20px; 
    height: 138px;
    border-bottom: 1px solid;
}

.cuistotable td
{
    width: 100px;
    height: 50px;
    vertical-align: middle;
}

.cuistotable
{
    width: 100%;
}

.cuistotable thead
{
    color:black;
    font-size:20px;
}

.bttd
{
    vertical-align: middle;
    text-align: center;
}

h2.entree { background: url(images/entrees.png) no-repeat 20px; height: 138px; background-position:left; }
h2.plat { background: url(images/plats.png) no-repeat 20px; height: 138px; background-position:left;}
h2.dessert { background: url(images/desserts.png) no-repeat 20px; height: 138px;background-position:left;}

h2{
    color: 
black;
font-size: 65px;
padding-left: 100px;
margin-bottom: 35px;
}

.cuistotable tbody tr:hover
{
    background-color: rgba(255,255,255,0.1);
}

.btMenu:hover {
    background-image: url('images/btnClientHover.png');   
}

