/* 
    Document   : StyleSheet
    Created on : May 28, 2012, 3:52:39 PM
    Author     : Chloe
    Description:
        Purpose of the stylesheet follows.
*/

    /**
    * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
    * Richard Clark (http://richclarkdesign.com)
    * http://cssreset.com
    */
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
    body {
    line-height:1;
    }
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section {
    display:block;
    }
    nav ul {
    list-style:none;
    }
    blockquote, q {
    quotes:none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content:'';
    content:none;
    }
    a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    }
    /* change colours to suit your needs */
    ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
    }
    /* change colours to suit your needs */
    mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
    }
    del {
    text-decoration: line-through;
    }
    abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
    }
    table {
    border-collapse:collapse;
    border-spacing:0;
    }
    /* change border colour to suit your needs */
    hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
    }



/* Importation de la police d'écriture' */

@font-face { font-family: fontKloe; src: url(HASTERISTICO.TTF) format("opentype") }
@font-face { font-family: fontKloeBold; src: url(HASTERISTICOBOLD.TTF) format("opentype") }

body {
	font-family:fontKloeBold;
        color: white;
        background: #590b0f url('images/degrade.png') no-repeat fixed center;
/*	 Navigateurs r�cents 
	background-image: -webkit-gradient(
		linear,
		left bottom, right top,
		from(#660000),
		to(#ff3333)
	);
	background-image: -webkit-linear-gradient(
		left bottom,
		#660000,
		#ff3333
	);
	background-image: -moz-linear-gradient(
		left bottom,
		#660000,
		#ff3333
	);
	background-image: -o-linear-gradient(
		left bottom,
		#660000,
		#ff3333
	);
	background-image: linear-gradient(
		left bottom,
		#660000,
		#ff3333
	);*/
        
}

.btValider{
   background-image: url('images/btValider.png');
   height:50px;
   width: 150px;
   background-color: transparent;
   border: medium none;
   color: white;
   cursor: pointer;
   font-family: inherit;
   font-size: 24px;
}

.btRetour{
   background-image: url('images/btRetour.png');
   height:50px;
   width: 150px;
   background-color: transparent;
   border: medium none;
   color: white;
   cursor: pointer;
   font-family: inherit;
   font-size: 24px;
}

/* ------------------------------------------------------------ */
/* ---------------------------- login ------------------------- */
/* ------------------------------------------------------------ */
#login
{
    margin-top: 2%;
}
#login fieldset
{
    width: 350px;
    height: auto;
    vertical-align: middle;
    margin: auto;
    border:1px solid black;
    border-radius:5px;
    box-shadow: 0px 2px 6px  black;
    padding:10px;
    background-image: url('images/texture.jpg');
    background-repeat: repeat;
}

#login legend{
    margin : 5px;
    font-weight: bold;
    color:white;
    font-size: 25px;
}

#login .inputText
{
    margin-left:20px;
    width: 150px;
}

#login table
{
    margin:auto;
}

.warning
{
    color : #ff3333;
    font-size:14px;
    text-align: left;
    margin-top:10px;
}

.bt
{
    background:transparent url(images/bt.png) no-repeat top left;
    margin:auto;
    width: 150px;
    height: 42px;
    border:none;
    cursor:pointer;
    color:white;
    font-size: 25px;
    float:right;
    height: 50px;
    
}

.bt:hover
{
    background:transparent url(images/btHover.png) no-repeat top left;
}

 a
{
    text-decoration: none;
}

#buttonlogin
{
    margin:auto;
    width: 320px;
}

.logo
{
    width: 500px;
    margin:auto;
}

input[type="text"]
{
border-radius: 4px;
padding: 2px;
height: 20px;
}
input[type="password"]
{
border-radius: 4px;
padding: 2px;
height: 20px;
}
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input[type="number"]
{
    border-radius: 4px;
}

select
{
border-radius: 4px;
padding: 2px;
height: 25px;
border:none;
margin:2px;
}

input, textarea, select
{
    margin:2px;
}

.btMenu { 
    display: block; 
    margin-left: 50px; 
    background-image: url('images/btnClient.png');
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 10px; 
    font-size: 22px;
    color: white;
    padding-top: 13px;
    background-repeat: no-repeat;
}

.deco
{
    display: absolute;
    float: right;
    top: 0;
    color:black;
}