
/** START EDIT HERE **/
body {
    background-image: url(../client-images/pat6.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    background-repeat: repeat;
    font-family: "HelveticaNeue LT 55 Roman", Helvetica, Arial, sans-serif;
    color: #616562;
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 20px 0;
}


/* fix for img */
/* remove header border */
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: #333333;
    font-family: "ClassicRoundMedium", sans-serif;
}
h1 {
    font-size: 25px;
    line-height: 29px;
}
h2 {
    font-size: 32px;
    line-height: 36px;
    padding: 0 0 25px 0;
}
h3 {
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 20px 0;
}
h4 {
    font-size: 20px;
    line-height: 24px;
    padding: 0 0 15px 0;
}
h5 {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 10px 0;
}
p {
    padding: 0 0 20px 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    color: #95b44b;
    outline: none !important;
}
a:hover,
a:focus,
a:active {
    color: #77903c;
    text-decoration: none;
    outline: none !important;
}
/* Images style */
figure {
    margin: 0;
    padding: 0;
}
/* buttons */

.wheel-group li {
    display: inline-block;
    padding-left: 5px;
}
.wheel-group li:first-child {
    padding-left: 0;
}
/* pagination */
.filter {
    text-align: center;
    font-family: "ClassicRoundMedium", sans-serif;
    padding: 50px 0;
}
.filter ul li {
    display: inline;
    padding: 0 15px;
}
.filter ul li a {
    font-size: 22px;
    line-height: 26px;
    color: #616562;
}
.filter ul li a:hover,
.filter ul li a:focus {
    color: #95b44b;
}
/* sliders */
/* Main Menu */
#top {
    position: relative;
    *zoom: 1;
    background: #fff;
    border: 5px solid #fafafa;
    -webkit-box-shadow: 0 2px #cecdcd;
    -moz-box-shadow: 0 2px #cecdcd;
    box-shadow: 0 2px #cecdcd;
    font-family: "ClassicRoundMedium", sans-serif;
}
#top:before,
#top:after {
    display: table;
    content: "";
    line-height: 0;
}
#top:after {
    clear: both;
}
#top:before,
#top:after {
    display: table;
    content: "";
    line-height: 0;
}
#top:after {
    clear: both;
}
#top .short-contact .wheel-group {
    padding: 15px 0;
    font-size: 13px;
    line-height: 17px;
    color: #778b7f;
}
#top .short-contact .wheel-group li {
    padding-left: 10px;
}
#top .short-contact .wheel-group li p {
    display: inline;
    padding: 0;
}
#top .line {
    background-image: url(./../client-images/top-line.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    background-color: #ebebeb;
    height: 1px;
    width: 55%;
    position: absolute;
    right: 0;
}
/* Other Elements */
#content .separator {
    background-image: url(./../client-images/separator.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    background-position: center center;
    min-height: 80px;
    width: 100%;
}
/* testimonials */
/* menucard */
#content .menucard {
    *zoom: 1;
}
#content .menucard:before,
#content .menucard:after {
    display: table;
    content: "";
    line-height: 0;
}
#content .menucard:after {
    clear: both;
}
#content .menucard:before,
#content .menucard:after {
    display: table;
    content: "";
    line-height: 0;
}
#content .menucard:after {
    clear: both;
}
#content .menucard header {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 5px 0;
    text-transform: uppercase;
    text-align: center;
}
#content .menucard header h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    color: #616562;
}
#content .menucard ul {
    padding: 0 0 40px 0;
}
#content .menucard ul li {
    background-image: url(./../client-images/menucard.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    background-position: center bottom;
    *zoom: 1;
    min-height: 85px;
    padding: 20px 0 0 0;
}
#content .menucard ul li:before,
#content .menucard ul li:after {
    display: table;
    content: "";
    line-height: 0;
}
#content .menucard ul li:after {
    clear: both;
}
#content .menucard ul li:before,
#content .menucard ul li:after {
    display: table;
    content: "";
    line-height: 0;
}
#content .menucard ul li:after {
    clear: both;
}
#content .menucard ul li:last-child {
    background: none;
}
#content .menucard ul li .image {
    float: left;
    max-width: 22%;
}
#content .menucard ul li .data {
    float: left;
    max-width: 80%;
    min-width: 80%;
    position: relative;
}
#content .menucard ul li .data h4 {
    padding: 0 0 5px 0;
    color: #616562;
}
#content .menucard ul li .data .price {
    position: absolute;
    top: 0;
    right: 0;
    color: #95b44b;
    font-size: 18px;
    line-height: 22px;
    font-family: "ClassicRoundMedium", sans-serif;
}

#content .menucard ul li .quantity {
    left: 5%;
    color: #95b44b;
    font-size: 18px;
    position: relative;
}

/* blog styles */
/* forms */
/* prefooter */
/* footer */
#footer {
    margin: 40px 0 0 0;
    background: #ffffff;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 0;
    font-size: 12px;
    line-height: 16px;
}
#footer p {
    font-size: 10px;
    line-height: 20px;
    padding: 0;
}
#footer .short-menu {
    padding: 10px 0 0 0;
    float: left;
}
#footer .short-menu ul li {
    display: inline;
    padding: 0 20px 0 0;
}
#footer .short-menu ul li:last-child {
    padding-right: 0;
}
#footer .short-menu ul li a {
    color: #616562;
}
#footer .short-menu ul li a:hover {
    color: #95b44b;
}
/* alert boxes */
/* infobox */
/* iconbox */
/* call box */
/* pre code */
pre {
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fcfcfc;
    padding: 0 20px;
}
/* additional buttons */
/* tables */
table {
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
    box-shadow: 0 2px 0 rgba(0,0,0,0.03);
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* utility */
/* custom lists */
/* blockquote */
blockquote {
    *zoom: 1;
    border: 0;
    padding: 0 0 0 38px;
    margin: 0 0 30px 0;
    background: transparent;
    position: relative;
}
blockquote:before,
blockquote:after {
    display: table;
    content: "";
    line-height: 0;
}
blockquote:after {
    clear: both;
}
blockquote:before,
blockquote:after {
    display: table;
    content: "";
    line-height: 0;
}
blockquote:after {
    clear: both;
}
/* accordion */
/* tabs */
/* pricing tables */
/* faq page */
/*
    .core-image("page-pattern.png");
    .media-repeat(repeat);
    */
/* priceLabel */
/* The Nivo Slider styles */
/* If an image is wrapped in a link */
/* The slices and boxes in the Slider */
/* Caption styles */
/* Opera/IE 8+ */
/* Direction nav styles (e.g. Next & Prev) */
/* Control nav styles (e.g. 1,2,3...) */
/* boxed layout */
@media (min-width: 768px) and (max-width: 979px) {
    body {
        font-size: 13px;
        line-height: 17px;
    }
    h1 {
        font-size: 20px;
        line-height: 24px;
    }
    h2 {
        font-size: 26px;
        line-height: 30px;
        padding: 0 0 20px 0;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
        padding: 0 0 15px 0;
    }
    h4 {
        font-size: 17px;
        line-height: 21px;
        padding: 0 0 10px 0;
    }
    h5 {
        font-size: 15px;
        line-height: 19px;
        padding: 0 0 5px 0;
    }
    p {
        padding: 0 0 15px 0;
        margin: 0;
        font-size: 13px;
        line-height: 17px;
    }
    .filter ul li a {
        font-size: 18px;
        line-height: 22px;
    }
    #top {
        border: 3px solid #fafafa;
    }
    #footer {
        margin-top: 30px;
    }
    #footer p {
        padding-top: 5px;
    }
    #footer .short-menu {
        float: none;
        text-align: center;
    }
    #footer .short-menu ul li {
        padding-right: 15px;
    }
}
@media (max-width: 979px) {
}
@media (max-width: 767px) {
    h1 {
        font-size: 18px;
        line-height: 22px;
    }
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
    h3 {
        font-size: 18px;
        line-height: 22px;
    }
    h4 {
        font-size: 15px;
        line-height: 19px;
    }
    h5 {
        font-size: 13px;
        line-height: 17px;
    }
    p {
        font-size: 12px;
        line-height: 16px;
    }
    .filter ul li a {
        font-size: 16px;
        line-height: 20px;
    }
    #top {
        padding-left: 10px;
        padding-right: 10px;
    }
    #top .short-contact .wheel-group li p {
        display: none;
    }
    #content {
        padding-left: 20px;
        padding-right: 20px;
    }
    #content .separator {
        background-image: url(./../client-images/separator-small.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-color: transparent;
        min-height: 40px;
        padding: 0;
    }
    #content .menucard ul {
        padding-bottom: 20px;
    }
    #content .filter {
        padding: 30px 0;
    }
    #footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    #footer .short-menu {
        float: none !important;
    }
}
@media (max-width: 500px) {
    body {
        font-size: 12px;
        line-height: 16px;
    }
    h1 {
        font-size: 15px;
        line-height: 19px;
    }
    h2 {
        font-size: 20px;
        line-height: 24px;
        padding: 0 0 15px 0;
    }
    h3 {
        font-size: 16px;
        line-height: 20px;
        padding: 0 0 10px 0;
    }
    h4 {
        font-size: 14px;
        line-height: 18px;
        padding: 0 0 5px 0;
    }
    h5 {
        font-size: 13px;
        line-height: 17px;
        padding: 0 0 5px 0;
    }
    p {
        padding: 0 0 10px 0;
    }
    .filter ul li {
        padding: 10px;
    }
    .filter ul li a {
        font-size: 13px;
        line-height: 17px;
    }
    #top .short-contact {
        display: none;
    }
}
@media (max-width: 340px) {
}
